//
   Created by Vitaly Revyuk on 18.02.16.

include html
include tabheader
.container
   .well Группа <b> #{groupname} </b>, кодов #{count}.
   table.table.table-hover
      thead
         th Код
         th Срок годности
         th Сумма
         th Статус
         th Примечание
      tbody
         for item in list
            tr
               td
                  a(href="/promo/#{groupname}/#{item.id}/remove")
                     span.glyphicon.glyphicon-remove &nbsp;
                  b #{item.code}
               td #{item.expire}
               td #{item.sum}
               td #{item.status == 1 ? 'Использован' : '-'}
               td #{item.description}
   ul.pager
      li.previous(class=(page == 0 ? 'disabled' : ''))
         a(href="/promo/" + groupname + '?page=' + prevPage) Предыдущая
      li
         span страница #{page + 1}
      li.next(class=(page == nextPage ? 'disabled' : ''))
         a(href="/promo/" + groupname + '?page=' + nextPage) Следующая


