//
   Created by Vitaly Revyuk on 18.02.16.
include html
include tabheader
.container
   .panel(class=(balance < 0 ? 'panel-danger' : (balance < 500 ? 'panel-warning' : 'panel-info')))
      .panel-heading
         .panel-title Баланс #{balance - user.credit} грн.
      .panel-body
         table.table.table-hover
            thead
               tr
                  th Сумма
                  th Абонент
                  th Дата
                  th Примечание
            tbody
               if list
                  each row in list
                     tr
                        td #{row.sum}
                        td #{row.customer}
                        td #{row.time_transaction}
                        td #{row.description}
         ul.pager
            li.previous
               a(href="/money?page=#{prevPage}") Предыдущая
            li.next
               a(href="/money?page=#{nextPage}") Следующая