//
   Created by Vitaly Revyuk on 18.02.16.

include html
include tabheader
.container
   .row
      .col-lg-6
         .panel.panel-default
            .panel-heading
               .panel-title Профиль дилера
            .panel-body
               table.table
                  tr
                     td Полное имя
                     td #{user.name}
                  tr
                     td Логин
                     td #{user.login}
                  tr
                     td Сумма резерва (кредита)
                     td #{user.credit} грн
                  tr
                     td Скидка
                     td #{user.discount} %
                  tr
                     td Делегированная сумма для промокодов
                     td #{user.promo_sum} грн
      .col-lg-6
         .panel.panel-default
            .panel-heading
               .panel-title Сменить пароль
            .panel-body
               form(role="form" action="/profile" method="post")
                  input(type="hidden" name="action" value="changepasswd")
                  input(type="hidden" name="username" value="#{user.login}")
                  input(type="hidden" name="old_password")
                  input(type="hidden" name="new_password")
                  input(type="hidden" name="retyped_password")
                  .form-group
                     label(for="old_password") Старый пароль
                     input.form-control(type="password" id="text_old_password")
                  .form-group
                     label(for="new_password") Новый пароль
                     input.form-control(type="password" id="text_new_password")
                  .form-group
                     label(for="retyped_password") Повтор нового пароля
                     input.form-control(type="password" id="text_retyped_password")
                  button.btn.btn-default(type="submit") Сменить
               br
               if typeof updatedPassword !== 'undefined' && updatedPassword == 0
                  .alert.alert-danger(role="alert") Ошибка смены пароля
               else if typeof updatedPassword !== 'undefined' && updatedPassword == 1
                  .alert.alert-success(role="alert") Пароль изменен
script(src="js/crypto-js/crypto-js.js")
script(src="js/crypt.js")