//
   Created by Vitaly Revyuk on 18.02.16.
include html
include tabheader
.container
   .row
      .col-md-5
         .panel.panel-default
            .panel-heading
               .panel-title Создать промокоды. Делегированная сумма #{user.promo_sum} грн.
            .panel-body
               form(role="form" action="/promo" method="post")

                  if groups.length > 0
                     .form-group
                        label(for="series_name") Имя группы
                        select(name="series_name" id="series_name").form-control
                           for group in groups
                              option(value="#{group.name}") #{group.name}
                     .form-group
                        button.btn.btn-default(onclick="addGroup()" type="button").form-control Добавить новое имя группы
                  else
                     .form-group
                        label(for="series_name") Имя группы
                        input(type="text" placeholder="Имя группы" name="series_name" id="series_name").form-control
                  .form-group
                     label(for="series_name") Количество кодов
                     input(type="number" placeholder="Количество кодов" name="count" id="count").form-control
                  .form-group
                     label(for="series_name") Тариф-акция
                     select(name="cost").form-control
                        for tariff in tariffs
                           option(value="#{tariff.cost}") #{tariff.tarif_name} (#{tariff.cost} грн на #{tariff.duration} месяца)
                  .form-group
                     label(for="series_name") Дата срока годности группы кодов
                     input(type="text" placeholder="Дата срока годности группы кодов" name="expire" id="expire" value="").form-control
                  .form-group
                     label(for="series_name") Примечания
                     input(type="text" placeholder="Примечания" name="description").form-control
                  button.btn.btn-default(type="submit").form-control Создать
                  | &nbsp;
                  button.btn.btn-default(type="reset").form-control Очистить форму
               if error
                  br
                  .alert.alert-danger #{error}
               if success
                  br
                  .alert.alert-success #{success}
      .col-md-7
         if groups.length > 0
            table.table.table-hover.table-striped
               thead
                  th Название группы
                  th Создано кодов на сумму
                  th Неиспользованных кодов
                  th Использованных кодов
                  th Файл
               tbody
                  for group in groups
                     tr
                        td
                           a(href="/promo/#{group.name}/remove")
                              span.glyphicon.glyphicon-remove &nbsp;
                           a(href="/promo/#{group.name}") #{group.name}
                        td #{group.sum}
                        td #{group.unused}
                        td #{group.used}
                        td
                           a(href="/promo/#{group.name}/file")
                              span.glyphicon.glyphicon-save
script(type="text/javascript") function addGroup() { $('#series_name').append($('<option/>', {selected: 'selected', text: prompt('Enter group name:')})) }
script(type="text/javascript") (function () { $('#expire').datepicker({dateFormat: 'yy-mm-dd', firstDay: 1}).datepicker( "setDate", "+1y" ); })();

