//
   Created by Vitaly Revyuk on 18.02.16.
.container
 .navbar.navbar-default
   .container-fluid
      .navber-header
         .navbar-brand
            if isAuth
               b #{user.name}
            else
               span VivatTV страница дилера
      .collapse.navbar-collapse
         if isAuth
            ul.nav.navbar-nav
               li(class="#{path == 'profile' ? 'active' : ''}")
                a(href="/profile") Профиль
               li(class="#{path == 'money' ? 'active' : ''}")
                  a(href="/money") Деньги
               li(class="#{path == 'code' ? 'active' : ''}")
                  a(href="/code") Коды пополнения
               li(class="#{path == 'promo' ? 'active' : ''}")
                  a(href="/promo") Промо коды
               li(class="#{path == 'directpay' ? 'active' : ''}")
                  a(href="/directpay") Прямой платеж
               li(class="#{path == 'news' ? 'active' : ''}")
                  a(href="/news") Извещения
            ul.nav.navbar-nav.navbar-right
               li(class="#{path == 'help' ? 'active' : ''}")
                  a(href="/help") Помощь
               li
                  a(href="/logout") Выход