//
   Created by glavnyjpolzovatel on 18.02.16.
.navbar.navbar-default
   .container-fluid
      .navber-header
         .navbar-brand
            if isAuth
               span Welcome,&nbsp;
               b #{user.name}
            else
               a(href="/login") SignIn
      .collapse.navbar-collapse
         if isAuth
            ul.nav.navbar-nav
               li(class="#{path == '/profile' ? 'active' : ''}")
                a(href="/profile") Profile
               li(class="#{path == '/money' ? 'active' : ''}")
                  a(href="/money") Money
               li(class="#{path == '/code' ? 'active' : ''}")
                  a(href="/code") Activation code
               li(class="#{path == '/directpay' ? 'active' : ''}")
                  a(href="/directpay") Direct pay
               li(class="#{path == '/statistic' ? 'active' : ''}")
                  a(href="/statistic") Statistic
               li(class="#{path == '/news' ? 'active' : ''}")
                  a(href="/news") Latest news
               li
                  a(href="/logout") Logout
